* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size:5em;
  font:bold 7.5vw/1.6 'Signika', sans-serif;
  user-select:none;
 }
 
 h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
  @keyframes float {
   0%,100%{ transform:none; }
   33%{ transform:translateY(-1px) rotate(-2deg); }
   66%{ transform:translateY(1px) rotate(2deg); }
 }
 body:hover span { animation:bounce .6s; }
 @keyframes bounce {
   0%,100%{ transform:translate(0); }
   25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
   50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
 }
 
 span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
 span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
 span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
 span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }
 
 h1 span:nth-child(2){ animation-delay:.05s; }
 h1 span:nth-child(3){ animation-delay:.1s; }
 h1 span:nth-child(4){ animation-delay:.15s; }
 h1 span:nth-child(5){ animation-delay:.2s; }
 h1 span:nth-child(6){ animation-delay:.25s; }
 h1 span:nth-child(7){ animation-delay:.3s; }
 h1 span:nth-child(8){ animation-delay:.35s; }
 h1 span:nth-child(9){ animation-delay:.4s; }
body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./fondo-papel-tapiz-colorido-borroso-vivo.jpg);
  background-repeat: no-repeat;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 30vw;
  height: 19vw;
  margin: 15px;
}
.cards .back {
  overflow-y: scroll;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}
h4 {
  font-size: 1vw;
  color: rgb(146, 142, 255);
}
h3 {
  font-size: 1.5vw;
}

ul li {  
  list-style-position: inside;
  padding-bottom: 1px;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

h5 h6{
 line-height: 2px; 
}

@media screen and (max-width: 800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
  
  .card {
    width: 90vw;
    height: 70vw;
    margin: 15px;
  }
  
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
  }
  .cards .back {
    overflow-y: scroll;  
  }
  h4 {
    font-size: 15px;
  }
}